<nav class="navbar navbar-dark navbar-expand-md bg-primary">
    <a href="/" class="navbar-brand">
        <img src="img/logo.png" alt="logo" width="48" height="48" class="rounded">
        Xpress Dreams
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navcontent" aria-controls="navcontent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navcontent">
        <ul class="navbar-nav ml-auto">
            <li class="navbar-item">
                <a href="/" class="nav-link active ">Home</a>
            </li>
            <li class="navbar-item">
                <a href="/service" class="nav-link ">Services</a>
            </li>
            <li class="navbar-item">
                <a href="/about"class="nav-link ">About</a>
            </li>
            <li class="navbar-item">
                <a href="/contact" class="nav-link ">Contact</a>
            </li>
            <li class="navbar-item">
                <a href="/login"  class="nav-link ">Login</a>
            </li>
        </ul>
    </div>
</nav>
